/example/singleton_example
/example/singleton_example.cpp~
/include/yomogi/algorithm.hpp~
/include/yomogi/design_pattern/singleton.hpp~
/include/yomogi/function.hpp~
/include/yomogi/ostream_ext.hpp~
/include/yomogi/print_debug_macro.hpp~
/example/singleton_example_debug
/example/singleton_example_release
/example/1
/example/observer_example
/example/observer_example.cpp~
/include/yomogi/design_pattern/observer.hpp~
